doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main-wrapper
      header
        .container
          img(src='https://s3-eu-west-1.amazonaws.com/cyber-custom/theme_EXdrxX9BummNVstZXma7/1461232289955_lg-footer-left.png')
          <h1>Latch Webhooks</h1>
      .container
        block content
      footer
        .container
          img(src='https://s3-eu-west-1.amazonaws.com/cyber-custom/theme_EXdrxX9BummNVstZXma7/1461232289955_lg-footer-left.png')
          p 2016 © Telefónica Digital España, S.L.U. All rigths reserved
          img(src='https://s3-eu-west-1.amazonaws.com/cyber-custom/theme_EXdrxX9BummNVstZXma7/1481100752678_lg-footer-right.png')
